/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/raleway-v17-latin-500.woff2") format("woff2"),
    url("fonts/raleway-v17-latin-500.woff") format("woff");
}

body {
  margin: 0;
  background: #fcfcfc;
  font-family: "Raleway", system, -apple-system, Helvetica, sans-serif;
}

div {
  padding: 4vw;
  max-width: 40rem;
}

code {
  font: inherit;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 0.1rem 0.4rem;
}

a {
  color: #000207;
  text-decoration: underline;
}
